*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #444444aa;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbbbbb;
}
* {
    font-family: hack;
}

#component-info {
    background-color: #00000099;
    border: 1px solid #ff911c;
    border-radius: 10px;
    overflow: hidden;
    width: 270px;
    word-wrap: break-word;
}
#title {
    cursor: pointer;
    font-size: 25px;
    color: #dddddd;
    padding-top: 10px;   
    padding-left: 10px;   
    padding-bottom: 10px;   
    flex: 2;
    overflow: auto;
    word-wrap: normal;
}
#description {
    padding: 0 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 18px;
    color: #dddddd;
    max-height: 400px;
    overflow: auto;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-right: 17px;
    padding-left: 10px;
    color: #cccccc;
    background-color: transparent;
    border: none;
    text-align: center;
}
button:hover {
    background-color: #ffffff55;
}
#header {
    display: flex;
    flex-direction: row;
    overflow: auto;
}
