* {
    margin: 0px;
    padding: 0px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #444444aa;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbbbbb;
}

#top-bar {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#title {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
#clear-button {
    padding: 5px 10px;
    font-family: 20px;
    font-family: hack;
}
#terminal {
    font-size: 18px;
    color: #ffffff;
    background-color: black;
    font-family: hack;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    min-height: 300px;
    width: 100%;
}
#logs {
    overflow: auto;
    padding: 20px;
    margin-right: 5%;
}
#ascii-dimmed {
    color: #444444;
}
