#code-editor {
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#number-line {
    background-color: #2a2426cc;
    padding-right: 15px;
    padding-left: 10px;
}
#error-line {
    background-color: #2a2426cc;
    padding-right: 15px;
    padding-left: 10px;
}
#input-field {
    max-width: 40%;
    min-width: 40%;
}
#info {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2f252acc;
}
#robot-status {
    padding-right: 100px;
}
