* {
    margin: 0 !important; 
    padding: 0 !important; 
}

@font-face {
    font-family: "hack";
    src: url("./HackNerdFont-Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    overflow:hidden;
}
#main-component {
    width: 100%;
    height: 100%;
}
