* {
    margin: 0 !important; 
    padding: 0 !important; 

    scrollbar-width: thin;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

@font-face {
    font-family: "hack";
    src: url("./HackNerdFont-Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
}

#main-component {
    width: 100%;
    height: 100%;
}
