*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #444444aa;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbbbbb;
}

#toolbar {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    height: fit-content;
}
#quit-button {
    position: absolute;
    right: 10px;
    top: 10px;
}
#help-button {
    position: absolute;
    right: 110px;
    top: 10px;
}
#confirm-placement-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#quit-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#help-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#component-selector {
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    left: 0;
    right: 0;
}
