* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "hack";
    height: 100%;
    width: 100%;
}
#input-field {
    display: flex; /* required */
    flex-flow: row; /* required */
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
#text-code {
    box-sizing: border-box; /* required */
    flex: none; /* required */
    margin-left: -100%; /* required */

    outline: none;
    border: none;
    resize: none;
    overflow: auto; 
    color: transparent;
    background-color: transparent;
    caret-color: white;
}
#visual-code {
    box-sizing: border-box; /* required */
    flex: none; /* required */

    overflow: hidden; 
    color: #cccccc;
    background-color: #2a2426cc;
    white-space: pre;
}

.void {
    font-size:0px;
}

.identifier {
    color: #89BEBA;
}
.function {
    color: #A9C180;
}
.keyword {
    color: #E68183;
}
.numeric {
    color: #DBBB81;
}
.string {
    color: #87C096;
}
.punctuator {
    color: #eeeeee;
}
