#cool-button {
    border: none;
    margin: 0;
    color: white;
    font-family: hack;
    font-size: 25px;
    background-color: transparent;
}
#cool-button:hover {
    background-color: #e68183;
    cursor: pointer;
}
