*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #444444aa;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbbbbb;
}

#component-info {
    font-family: hack;
    background-color: #00000099;
    border: 1px solid #ff911c;
    border-radius: 10px;
    width: 270px;
    word-wrap: break-word;
}
#title {
    cursor: pointer;
    font-size: 25px;
    color: #dddddd;
    padding-top: 10px;   
    padding-left: 10px;   
    padding-bottom: 10px;   
}
#description {
    padding: 0 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 18px;
    color: #dddddd;
    max-height: 400px;
    overflow: auto;
}
syntax-highlight {
    border-radius: 20px;
}
